/* overflow */
.overflow-hidden {
  overflow: hidden;
}
/* list */
.no-list-style {
  list-style-type: none;
}
/* display */
.display-inline-block {
  display: inline-block;
}
/* float */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/* padding */
.remove-padding {
  padding: 0;
}