@import "colors/colors";

.navigation {
  background-color: $grey-light;
  border: 1px solid $grey-medium;
  ul {
    list-style-type: none;
    float: right;
  }
  li {
    display: inline-block;
  }
  a {
    text-decoration: none;
    padding: 1.2em;
    &.active {
      background-color: $grey-medium;
      color: $grey-dark;
    }
    &:hover {
      color: $grey-dark;
    }
  }
}