<div id="myModal" class="modal">
    <div class="row group">
        <div class="modal-content col col-8">
            <form action="">
                <div class="row group">
                    <div class="col col-12">
                        <label for="username-tb">Username:</label>
                        <input type="text" id="username-tb"/>
                    </div>
                </div>
                <div class="row group">
                    <div class="col col-12">
                        <label for="password-tb">Password:</label>
                        <input type="password" id="password-tb"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>