<div class="row group">
    <div class="col col-12">
        <nav class="navigation overflow-hidden">
            <ul>
                <li>
                    <a href="" class="active">Home</a>
                </li>
                <li>
                    <a href="">My Account</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="row group main">
    <div class="col col-8">
        <ul class="no-list-style overflow-hidden remove-padding restaurant-wrapper">
            <li>
                <div class="restaurant-info overflow-hidden">
                    <h2>Restaurant name 1</h2>
                    <div class="restaurant-body overflow-hidden">
                        <img src="../../images/starbucks-ring.jpg" alt="starbucks-logo" class="float-left" style="width: 80px; height: 80px;">
                        <div class="restaurant-basic-info float-left">
                            <ul class="no-list-style">
                                <li>Knez Mihajlova 33</li>
                                <li>011/123-456</li>
                                <li>starbucks@belgrade.com</li>
                            </ul>
                        </div>
                        <div class="restaurant-list-products float-right">
                            <span>Coffee,</span>
                            <span>Cookies,</span>
                            <span>Smoothie,</span>
                            <span>Flavoured water,</span>
                            <span>Fruit salad,</span>
                            <span>Sandwich,</span>
                            <span>Coffee,</span>
                            <span>Cookies,</span>
                            <span>Smoothie,</span>
                            <span>Flavoured water,</span>
                            <span>Fruit salad,</span>
                            <span>Sandwich</span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="restaurant-info overflow-hidden">
                    <h2>Restaurant name 1</h2>
                    <div class="restaurant-body overflow-hidden">
                        <img src="../../images/starbucks-ring.jpg" alt="starbucks-logo" class="float-left" style="width: 80px; height: 80px;">
                        <div class="restaurant-basic-info float-left">
                            <ul class="no-list-style">
                                <li>Knez Mihajlova 33</li>
                                <li>011/123-456</li>
                                <li>starbucks@belgrade.com</li>
                            </ul>
                        </div>
                        <div class="restaurant-list-products float-right">
                            <span>Coffee,</span>
                            <span>Cookies,</span>
                            <span>Smoothie,</span>
                            <span>Flavoured water,</span>
                            <span>Fruit salad,</span>
                            <span>Sandwich,</span>
                            <span>Coffee,</span>
                            <span>Cookies,</span>
                            <span>Smoothie,</span>
                            <span>Flavoured water,</span>
                            <span>Fruit salad,</span>
                            <span>Sandwich</span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="restaurant-info overflow-hidden">
                    <h2>Restaurant name 1</h2>
                    <div class="restaurant-body overflow-hidden">
                        <img src="../../images/starbucks-ring.jpg" alt="starbucks-logo" class="float-left" style="width: 80px; height: 80px;">
                        <div class="restaurant-basic-info float-left">
                            <ul class="no-list-style">
                                <li>Knez Mihajlova 33</li>
                                <li>011/123-456</li>
                                <li>starbucks@belgrade.com</li>
                            </ul>
                        </div>
                        <div class="restaurant-list-products float-right">
                            <span>Coffee,</span>
                            <span>Cookies,</span>
                            <span>Smoothie,</span>
                            <span>Flavoured water,</span>
                            <span>Fruit salad,</span>
                            <span>Sandwich,</span>
                            <span>Coffee,</span>
                            <span>Cookies,</span>
                            <span>Smoothie,</span>
                            <span>Flavoured water,</span>
                            <span>Fruit salad,</span>
                            <span>Sandwich</span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="restaurant-info overflow-hidden">
                    <h2>Restaurant name 1</h2>
                    <div class="restaurant-body overflow-hidden">
                        <img src="../../images/starbucks-ring.jpg" alt="starbucks-logo" class="float-left" style="width: 80px; height: 80px;">
                        <div class="restaurant-basic-info float-left">
                            <ul class="no-list-style">
                                <li>Knez Mihajlova 33</li>
                                <li>011/123-456</li>
                                <li>starbucks@belgrade.com</li>
                            </ul>
                        </div>
                        <div class="restaurant-list-products float-right">
                            <span>Coffee,</span>
                            <span>Cookies,</span>
                            <span>Smoothie,</span>
                            <span>Flavoured water,</span>
                            <span>Fruit salad,</span>
                            <span>Sandwich,</span>
                            <span>Coffee,</span>
                            <span>Cookies,</span>
                            <span>Smoothie,</span>
                            <span>Flavoured water,</span>
                            <span>Fruit salad,</span>
                            <span>Sandwich</span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="restaurant-info overflow-hidden">
                    <h2>Restaurant name 1</h2>
                    <div class="restaurant-body overflow-hidden">
                        <img src="../../images/starbucks-ring.jpg" alt="starbucks-logo" class="float-left" style="width: 80px; height: 80px;">
                        <div class="restaurant-basic-info float-left">
                            <ul class="no-list-style">
                                <li>Knez Mihajlova 33</li>
                                <li>011/123-456</li>
                                <li>starbucks@belgrade.com</li>
                            </ul>
                        </div>
                        <div class="restaurant-list-products float-right">
                            <span>Coffee,</span>
                            <span>Cookies,</span>
                            <span>Smoothie,</span>
                            <span>Flavoured water,</span>
                            <span>Fruit salad,</span>
                            <span>Sandwich,</span>
                            <span>Coffee,</span>
                            <span>Cookies,</span>
                            <span>Smoothie,</span>
                            <span>Flavoured water,</span>
                            <span>Fruit salad,</span>
                            <span>Sandwich</span>
                        </div>
                    </div>
                </div>
            </li>

            <li>
                <div class="restaurant-info overflow-hidden">
                    <h2>Restaurant name 1</h2>
                    <div class="restaurant-body overflow-hidden">
                        <img src="../../images/starbucks-ring.jpg" alt="starbucks-logo" class="float-left" style="width: 80px; height: 80px;">
                        <div class="restaurant-basic-info float-left">
                            <ul class="no-list-style">
                                <li>Knez Mihajlova 33</li>
                                <li>011/123-456</li>
                                <li>starbucks@belgrade.com</li>
                            </ul>
                        </div>
                        <div class="restaurant-list-products float-right">
                            <span>Coffee,</span>
                            <span>Cookies,</span>
                            <span>Smoothie,</span>
                            <span>Flavoured water,</span>
                            <span>Fruit salad,</span>
                            <span>Sandwich,</span>
                            <span>Coffee,</span>
                            <span>Cookies,</span>
                            <span>Smoothie,</span>
                            <span>Flavoured water,</span>
                            <span>Fruit salad,</span>
                            <span>Sandwich</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>