@import "../colors/_colors";
@import "../typography/typography";

.restaurant-wrapper {
  //border: 1px solid $grey-medium;
  border-radius: 5px;
  > li {
    border: 1px solid $grey-medium;
    margin: 3.3em 0;
  }
}
.restaurant-info {
  h2 {
    background-color: $background-color;
    font-weight: $normal;
    padding: .35em;
    margin: 0;
  }
}
.restaurant-basic-info {
  width: 40%;
  li {
    font-weight: $light;
  }
}
.restaurant-body {
  padding: .35em;
}
.restaurant-list-products {
  width: 45%;
  span {
    font-weight: $light;
  }
}